<head>
    <meta 
    name="wca-hub" 
    content="Website"
    charset="utf-8"/>
    <title> WCA-HUB | <%= title %></title>
    <link rel="stylesheet" href="/styles.css">
    <div class="nav">
    <nav>
        <ul>
            <li><a href = "index.html">Home</a></li>
            <li><a href = "about.html">About</a></li>
            <li><a href = "contact.html">Contact Us</a></li>
            <li><a href = "login.html">Login</a></li>
            
        </ul>
        </div>
    </nav> 
    
        <script>
            var todays_date= new Date();
        document.write(todays_date);
        </script>
</head>