<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>
    <body>
        <div class="not-found content">
            <h3>Page Not Found</h3>
        </div>
        <p>Kindly navigate back to any of the pages using the links above</p>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>