<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>
    <body>
        <section>
            <div class="section content">
                <h5>WCA Hub is a web application that allows users to store, manage, and share their research project files. The application is built using Node js for front-end and back-end development and Mongodb for data storage.</h5>
                <p>the app is best viewed on a desktop layout for now and more features will be added very soon.</p>
                <h3>Inspiration:</h3>
                <p>As educationist, the access to research project files is limited, the improve and maintain continuity becomes neccessary so that recommendations can be worked upon to achieve efficient and optimize systems and processes. Also as a student of ALX, we are to create something beneficial to the society which will go a long way to ease processes and aid in the overall development of Africa as a continent.</p>
                <br>
                <h2 style="text-align:center;"><b>Contributor's Info</b></h2>
                <p><b>Wummy Kaseem:</b></p> 
                <p></p>A Nigerian Educationist, married and passionate about making life easier for all. LinkedIn and github profile links: https://www.linkedin.com/in/rukayat-kaseem/ and https://github.com/Wummysoft</p>
                <p><b>Celestinah Odebunmi:</b></p>
                <p>Also an Educationist, loves research and doing Hard Things. LinkedIn and github profile links: https://www.linkedin.com/in/celestinah-odebunmi/ and https://github.com/CelestinaT</p>
                <p><b>Abdulbasit Abdulganiyu:</b></p> 
                <p>A Systems Engineer, loves watching movies and doing something new everyday, LinkedIn and github profile links: https://www.linkedin.com/in/abdulbasit-abdulganiyu-4b0166138 and https://github.com/lanre2nite</p>
            </div>
            <h3>Project Landing Page and Repository:</h3>
            <h5> https://github.com/Wummysoft/wca-hub.git</h5>
            <h5>https://github.com/lanre2nite/wca-hub.git</h5>

        </section>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>