<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>
    <body>
        
        <section>
            <h4>For your contributions and suggestions, Kindly contact us using the email below or any of the social media channels, thanks !!!</h4>
            <p>Email:info@wcahub.com</p>
            <p>Whatsapp:+2348030020010</p>
            <p>youtube:youtube/wca-hub.com</p>
        </section>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>