<style>

header {
    margin:0px;
    padding:0px;
    height:10px;
    width:100%;
    float: center;
    text-align: center;
    align-content: center;
        }
    table {
            border-collapse: collapse;
            width: 100%;
        }
        
        th {
            height: 30px;
        }
        
        td {
            text-align: center;
            padding: 5px;
        }
        
    nav {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0px;
        padding-bottom: 0px;
        border-bottom: 0px solid rgb(20, 85, 67);
        /text-transform: uppercase;
        float: right;
    }
        nav ul {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        }
        nav li {
        list-style-type: none;
        margin-right: 10px;
        }
section {
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    color: rgb(59, 54, 36);
    margin: 0px;
    padding: 30px;
    height: 1000px;
    width:100%;
    float: left;
    h2{
        color:aquamarine;
        }
}

body{
    background-color:white;
    h2{
        color:rgb(134, 171, 60);
        }
}
    footer {
        background-color: white;
    	clear: both;
        color:rgb(216, 67, 187);
        margin:0px;
        padding:10px;
        height:10px;
        width:100%;
        text-align: center;
           }
            
h2 {
       color: rgb(45, 78, 60);
               font-family: verdana;
           
    }
p {
    color: blueviolet;
    font-family: courier;
   font-size: 120%;
  }
             
     
</style>